<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">
    <i class="mr-2 fas fa-brain" style="font-size: 1.4em; color:gray"></i> Papers understanding level
  </a>
  <form class="form-inline">
    <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" 
        data-placement="bottom" 
        (click)="projectService.export()"
        title="This will download all your projects information">
      <i class="fas fa-file-export"></i> Export
    </button>
    <label class="btn btn-sm btn-outline-secondary ml-4 my-2 my-sm-0">
      <i class="fas fa-file-import"></i> Import
      <input type="file" accept=".json" hidden (change)="handleFiles($event.target.files)">
    </label>
  </form>
</nav>

<router-outlet></router-outlet>