<div class="container">
  <div *ngIf="project !== null && project.sections.length === 0">
    <h3 class="display-4 text-muted">Wow! Such empty. Add your first paper</h3>
  </div>
  <div *ngIf="project !== null && project.sections.length > 0">
    <table *ngFor="let s of project.sections; let si = index" class=table>
      <thead>
        <tr>
          <th scope="col"><i class="mr-1 fas fa-scroll"></i>{{s.name}} - Resources</th>
          <th scope="col"><i class="mr-1 far fa-check-square"></i> 10 - 20%</th>
          <th scope="col"><i class="mr-1 far fa-check-square"></i> 20 - 40%</th>
          <th scope="col"><i class="mr-1 far fa-check-square"></i> 40 - 60%</th>
          <th scope="col"><i class="mr-1 far fa-check-square"></i> 60 - 80%</th>
          <th scope="col"><i class="mr-1 far fa-check-square"></i> 80 - 100%</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of s.papers; let pi = index">
          <td><a href={{p.link}}>{{trimName(p.name)}}</a></td>
          <td *ngFor="let u of p.understanding; let i = index" class="text-right">
            <input type="checkbox" class="text-right form-check-input" [checked]="u"
              id="section-{{si}}-paper-{{pi}}-{{i}}-checkbox" (click)="updateCheckboxes($event, pi, si)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <a [routerLink]="['/add-resource']" [queryParams]="{ 'project-id': projectId }" class="btn btn-outline-primary">Add resource</a>
</div>
