<div class="container pt-4 auto">
<h1 class="display-4 project-title">Add resource for {{project?.name}}</h1>
<div class="form-container mt-4">
  <div class="form-group">
    <label for="paper-name">Name</label>
    <input type="text" [(ngModel)]="name" class="form-control" id="paper-name"
      placeholder="Enter paper name. Ex: Attention is all you need">
  </div>
  <div class="form-group">
    <label for="paper-link">Link</label>
    <input type="text" class="form-control" [(ngModel)]="link" id="paper-link" placeholder="Link to arxiv PDF">
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Select Section
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let s of sections" class="dropdown-item" (click)="this.section = s">{{s}}</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-10 col-xl-10">
      <input type="text" [(ngModel)]="section" id="section-input" class="form-control" placeholder="Section">
    </div>
  </div>
  <small class="text-muted"><b>If you wish to add a new section, just type the name of the new section in the input
      below</b></small>
  <div class=m-4></div>
  <br>

  <div class="text-right">
    <button id="add-btn" (click)="createResource()" class="btn btn-outline-success mr-3">Add</button>
    <a id="cancel-btn" [routerLink]="['/project-view']" [queryParams]="{ 'project-id': projectId }"
      class="btn btn-outline-danger">Cancel</a>
  </div>
</div>
